.title-contents {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gold;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.main {
  background: #f8f8f8;
}

.service-title {
  font-size: 8vh;
}

.lists-left {
  display: flex;
  min-width: 200px;
  list-style: none;
  padding-left: 450px;
}

.logout {
  text-decoration: none;
  color: #333333;

}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
  
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

.operation_name {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
  padding-right: 300px;
}

.user-name {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}

.ope {
  background: #eaf3ff;
  border-bottom: solid 3px #516ab6;
}

.tournament {
  background-color: #FFFFF0;
  height: calc(100vh - 100px);
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content:space-around;
  font-size: 30px;
  font-weight: bold;

}

.tournaments {
  padding: 20px 0 40px;
  text-decoration: none;
}
.tournament_path{
  text-decoration: none;
}



