.title-contents {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gold;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  background-image: image-url('images2.jpeg');
  padding: 10vh 10vw;
  background-size: cover;
  background-repeat: no-repeat;
}


.service-title {
  font-size: 10vh;
}

.lists-left {
  display: flex;
  padding-left: 450px;
}

.logout {
  text-decoration: none;
  color: #333333;
  padding-left: 40px;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
  
}

.sign-up {
  text-decoration: none;
  color: #333333;
  
}

.operation_name {
  text-decoration: none;
  margin-right: 3vw;
  color: red;
  font-weight: bold;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 3vh 0;
  font-size: 20px;
  margin: 30px;
}

.lists-left {
  display: flex;
  list-style: none;
  align-items: flex-end;
  padding-right: 300px;
  text-decoration: none;
}





.tournament {
  background-color:#FFFF66;
  height: calc(100vh - 100px);
  padding: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-around;
  font-size: 20px;
  font-weight: bold;
}



ul, ol {
  color: #668ad8; 
  border: double 5px #668ad8;
  background: #f1f8ff; 
  padding: 0.5em 0.5em 0.5em 2em;
  list-style: none;
}



.tournament-name{
  font-size: 40px;
  text-align: center;
  font-weight: bolder;
  
}

.second-fotter {
  width: 100%;
  background-image:	image-url("images1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25vh 20vw;

}

.tournament-font{
  text-decoration: none;
  color:black;
  border: double 5px #668ad8;
  background: #f1f8ff; 
  padding: 0.5em 0.5em 0.5em 2em;
  list-style: none;
  
}

.num{
  font-size: 30px;
}


.name{
  font-size: 40px;
}
